@(tpl: models.MainTemplate,
  changes: lib.PaginatedCollection[io.apibuilder.api.v0.models.Change],
  orgKey: Option[String] = None,
  appKey: Option[String] = None,
  from: Option[String] = None,
  to: Option[String] = None,
  typ: Option[String] = None
)(implicit flash: Flash, messages: Messages)

@main(tpl) {

  @if(!orgKey.isEmpty && !appKey.isEmpty) {
    <a href="@routes.HistoryController.index()">All</a> /
    <a href="@routes.HistoryController.index(org = orgKey)">@orgKey.get</a> /
    @appKey
  } else {
    @if(!orgKey.isEmpty) {
      <a href="@routes.HistoryController.index()">All</a> / @orgKey.get
    }
  }

  @if(!from.isEmpty && !to.isEmpty) {
    Versions from @from to @to
  } else {
    @if(!from.isEmpty) {
      Versions from @from
    }
    @if(!to.isEmpty) {
      Versions to @to
    }
  }

  @if(changes.isEmpty) {
    <p><em>No changes found</em></p>

  } else {
    <table class="table table-hover table-condensed">
      <tbody>
        @changes.items.map { change =>
         <tr>
           <td>@lib.DateHelper.shortDate(tpl.timeZone, change.changedAt)</td>
           <td>@change.changedBy.nickname</td>
           <td>@change.organization.key/@change.application.key:<a href="@routes.Versions.show(change.organization.key, change.application.key, change.toVersion.version)">@change.toVersion.version</a>
           </td>
           <td>@change.diff.description</td>
           <td>
           </td>
         </tr>
       }
      </tbody>
    </table>

    @if(changes.hasPrevious || changes.hasNext) {
      <ul class="pager">
        @if(changes.hasPrevious) {
          <li><a href="@routes.HistoryController.index(org = orgKey, app = appKey, from = from, to = to, typ = typ, changes.page - 1)">Previous</a></li>
        }
        @if(changes.hasNext) {
          <li><a href="@routes.HistoryController.index(org = orgKey, app = appKey, from = from, to = to, typ = typ, changes.page + 1)">Next</a></li>
        }
      </ul>
    }
  }

}
