@(tpl: models.MainTemplate,
  applicationKey: Option[String],
  form: Form[controllers.Versions.UploadData],
  errors: Seq[String] = Seq.empty,
  isFirstVersion: Option[Boolean] = None
)(implicit flash: Flash, messages: Messages)

@main(tpl) {
  <div class="container">

    @if(tpl.service.isEmpty) {
      <p>
        If you are creating your first service, start by browsing the
        <a href="@routes.DocController.examples">example api.json files</a>
        and <a href="@routes.DocController.index">reading the documentation</a>.
      </p>
    }

    @helper.form(action = routes.Versions.createPost(tpl.org.get.key, applicationKey), Symbol("enctype") -> "multipart/form-data") {

      <fieldset>
          <legend>Service Information</legend>

          @if(!errors.isEmpty) {
            <ul>
              @errors.map { msg => <li><span class="error">@msg</span></li> }
            </ul>
          }

          @helper.inputText(
            form("version"),
            Symbol("_label") -> "Version",
            Symbol("_error") -> form.error("version"),
            Symbol("_help") -> tpl.version.map { v => s"Latest uploaded version is $v" }.getOrElse("")
          )

          @helper.select(
            form("visibility"),
            io.apibuilder.api.v0.models.Visibility.all.map { v => (v.toString -> v.toString) },
            Symbol("_label") -> "Visibility",
            Symbol("_error") -> form.error("visibility"),
            Symbol("_help") -> "Set to public if anybody can view this service, or organization to limit to other members of your org."
          )

          @helper.inputFile(
              form("file"),
              Symbol("_label") -> "File",
              Symbol("_error") -> form.error("file")
          )

          @helper.select(
            form("original_type"),
            Seq( ("", "-- auto detect --") ) ++ io.apibuilder.api.v0.models.OriginalType.all.map { t =>
                t match {
                    case io.apibuilder.api.v0.models.OriginalType.AvroIdl => (t.toString, "Avro IDL (experimental)")
                    case io.apibuilder.api.v0.models.OriginalType.ApiJson => (t.toString, "api.json")
                    case io.apibuilder.api.v0.models.OriginalType.ServiceJson => (t.toString, "service.json")
                    case io.apibuilder.api.v0.models.OriginalType.Swagger => (t.toString, "Swagger: JSON or YAML (2.0, experimental)")
                    case io.apibuilder.api.v0.models.OriginalType.UNDEFINED(name) => (t.toString, name)
                }
            },
            Symbol("_label") -> "Type"
          )

      </fieldset>

      <div class="actions">
        <button class="btn btn-large btn-primary" type="submit">Submit</button>
        @if(tpl.service.isEmpty) {
          <a href="@routes.Organizations.show(tpl.org.get.key)" class="btn">Cancel</a>
        } else {
          <a href="@routes.Versions.show(tpl.service.get.organization.key, tpl.service.get.application.key, "latest")" class="btn">Cancel</a>
        }
        @if(isFirstVersion.getOrElse(false) && !tpl.org.isEmpty && !applicationKey.isEmpty && tpl.canAdminApplication(applicationKey.get)) {
          <a href="@routes.ApplicationSettings.postDelete(tpl.org.get.key, applicationKey.get)" class="delete" data-confirm="Are you sure?">Delete this application</a>
        }
      </div>


    }

  </div>

}
