@(org: io.apibuilder.api.v0.models.Organization,
  application: io.apibuilder.api.v0.models.Application,
  version: String,
  service: io.apibuilder.spec.v0.models.Service
)

@service.resources.map { resource =>
  <div id="resource-@lib.UrlKey.generate(resource.`type`)"></div>
  <a name="resource-@lib.UrlKey.generate(resource.`type`)"></a>
  <div class="version_resource">
    <h3><a href="#model-@lib.UrlKey.generate(resource.`type`)">@{resource.`type`}</a></h3>

    @Html(lib.Markdown(resource.description))

    <h4>Operations</h4>
    @if(resource.operations.isEmpty) {
      <em>No operations</em>
    } else {
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th colspan="2">Method and Path</th>
            <th colspan="2">Description</th>
          </tr>
        </thead>
        <tbody>
         @resource.operations.zipWithIndex.map { case(operation, index) =>
           <tr>
             <td class="nowrap"><a onClick="$('#operation-@lib.UrlKey.generate(resource.`type`)-@index').toggle()">@operation.method</a></td>
             <td class="nowrap"><a onClick="$('#operation-@lib.UrlKey.generate(resource.`type`)-@index').toggle()">@operation.path</a></td>
             <td>@Html(lib.Markdown(operation.description))</td>
             <td>@operation.deprecation.map(deprecation(_))</td>
           </tr>
           <tr id="operation-@lib.UrlKey.generate(resource.`type`)-@index" style="display:none">
             <td></td>
             <td colspan="2">
               @operation.method @service.baseUrl@operation.path
               @operation.deprecation.map(deprecation(_))

               @operation.body.map { b =>
                 <h4>Body</h4>
                 @body(org, application, version, service, b)
               }

               <h4>Parameters</h4>
               @if(operation.parameters.isEmpty) {
                 <em>No parameters</em>
               } else {
                 @parameters(org, application, version, service, operation)
               }

               <h4>Responses</h4>
               @if(!operation.responses.isEmpty) {
                 <table class="borderless table-condensed">
                   <tbody>
                     @operation.responses.map { response =>
                       <tr>
                         <th>HTTP @{response.code.toLowerCase match {
                           case "default" => "*"
                           case other => other
                         }}</th>
                         <td>@datatype(org, application, version, service, response.`type`)</td>
                       </tr>
                       @if(!response.description.isEmpty) {
                         <tr>
                           <td></td>
                           <td>@Html(lib.Markdown(response.description))</td>
                         </tr>
                       }
                       @if(!response.deprecation.isEmpty) {
                         <tr>
                           <td></td>
                           <td>@response.deprecation.map(deprecation(_))</td>
                         </tr>
                       }
                       @if(!response.headers.isEmpty) {
                         <tr>
                           <td></td>
                           <th>Headers</th>
                         </tr>
                         <tr>
                           <td></td>
                           <td>@headers(org, application, version, service, response.headers.getOrElse(Nil))</td>
                         </tr>
                       }
                     }
                   </tbody>
                 </table>
               }
             </td>

           </tr>
         }
        </tbody>
      </table>
    }
  </div>
}
