@(tpl: models.MainTemplate,
  application: io.apibuilder.api.v0.models.Application,
  service: io.apibuilder.spec.v0.models.Service,
  isWatching: Boolean
)(implicit flash: Flash, messages: Messages)

@main(tpl) {

  <div class="versions-header clearfix">
    <div class="pull-right">
      @if(tpl.isOrgMember) {
        <a href="@routes.Versions.create(orgKey = tpl.org.get.key, application = Some(service.application.key))">Upload new version</a> |
        <a class="delete" data-confirm="Are you sure you want to delete version @{service.version}?" href="@routes.Versions.postDelete(orgKey = service.organization.key, applicationKey = service.application.key, version = service.version)">Delete this version</a> |
      }

      <a href="@routes.HistoryController.index(org = Some(service.organization.key), app = Some(service.application.key))">History</a> |

      @if(isWatching) {
        <a class="postForm" href="@routes.Versions.postWatch(orgKey = service.organization.key, applicationKey = service.application.key, version = service.version)">Watching</a>
      } else {
        <a class="postForm" href="@routes.Versions.postWatch(orgKey = service.organization.key, applicationKey = service.application.key, version = service.version)">Watch</a>
      }
    </div>

    <div class="pull-left">
      @service.description.map { desc =>
        <p class="service-description">
          @Html(lib.Markdown.toHtml(desc))
        </p>
      }

      <ul>
        <li> Contact:
          @service.info.contact.map { contact =>
            @Html(contact.email match {
              case None => contact.name.getOrElse("")
              case Some(email) => s"<a href='mailto:$email'>${contact.name.getOrElse(email)}</a>"
            })
            @Html(contact.url.map { url => s"<a href='$url'>$url</a>" }.getOrElse(""))
          }.getOrElse("N/A")
        </li>

        <li> License:
         @service.info.license.map { license =>
             @Html(license.url match {
              case None => license.name
              case Some(url) => s"<a href='$url'>${license.name}</a>"
            })
          }.getOrElse("N/A")
        </li>
    </ul>
    </div>
  </div>

  <div class="versions-show">
    <h2>Resources</h2>
    @if(service.resources.isEmpty) {
      <em>No resources</em>
    } else {
      @resources(tpl.org.get, application, tpl.version.get, service)
    }

    <h2>Headers</h2>
    @if(service.headers.isEmpty) {
      <em>No headers</em>
    } else {
      @headers(tpl.org.get, application, tpl.version.get, service, service.headers)
    }

    <h2>Imports</h2>
    @if(service.imports.isEmpty) {
      <em>No imports</em>
    } else {
      @imports(service.imports)
    }

    <h2>Enums</h2>
    @if(service.enums.isEmpty) {
      <em>No enums</em>
    } else {
      @service.enums.map { e =>
        <div id="enum-@lib.UrlKey.generate(e.name)"></div>
        <a name="enum-@lib.UrlKey.generate(e.name)"></a>
        <div class="version_model">
          <h3>@e.name</h3>
          @e.deprecation.map(deprecation(_))

          @Html(lib.Markdown(e.description))

          @values(tpl.org.get, application, tpl.version.get, e)
        </div>
      }
    }

    <h2>Interfaces</h2>
    @if(service.interfaces.isEmpty) {
      <em>No interfaces</em>
    } else {
      @service.interfaces.map { interface =>
        <div id="interface-@lib.UrlKey.generate(interface.name)"></div>
        <a name="interface-@lib.UrlKey.generate(interface.name)"></a>
        <div class="version_interface">
          <h3>@interface.name</h3>
          @interface.deprecation.map(deprecation(_))
          @Html(lib.Markdown(interface.description))
          @fields(tpl.org.get, application, tpl.version.get, service, interface.fields)
        </div>
      }
    }

    <h2>Models</h2>
    @if(service.models.isEmpty) {
      <em>No models</em>
    } else {
      @service.models.map { model =>
        <div id="model-@lib.UrlKey.generate(model.name)"></div>
        <a name="model-@lib.UrlKey.generate(model.name)"></a>
        <div class="version_model">
          <h3>@model.name</h3>
          @exampleJson(tpl.org.get, application, tpl.version.get, model.name)
          @interfaces(tpl.org.get, application, tpl.version.get, service, model.interfaces)

          @model.deprecation.map(deprecation(_))

          @Html(lib.Markdown(model.description))

          @fields(tpl.org.get, application, tpl.version.get, service, model.fields)
        </div>
      }

    <h2>Unions</h2>
    @if(service.unions.isEmpty) {
      <em>No unions</em>
    } else {
      @service.unions.map { union =>
        <div id="union-@lib.UrlKey.generate(union.name)"></div>
        <a name="union-@lib.UrlKey.generate(union.name)"></a>
        <div class="version_union">
          <h3>@union.name</h3>
          @interfaces(tpl.org.get, application, tpl.version.get, service, union.interfaces)
          <ul>
	    <li>Type discriminator: @union.discriminator.getOrElse("N/A")</li>
            @union.deprecation.map(deprecation(_))
	  </ul>

          @Html(lib.Markdown(union.description))

          @unionTypes(tpl.org.get, application, tpl.version.get, service, union)
        </div>
      }
    }

    <h2>Annotations</h2>
    @if(service.annotations.isEmpty) {
      <em>No annotations</em>
    } else {
      @service.annotations.map { annot =>
      <div id="annot-@lib.UrlKey.generate(annot.name)"></div>
      <a name="annot-@lib.UrlKey.generate(annot.name)"></a>
      <div class="version_model">
        <h3>@annot.name</h3>
        @annot.deprecation.map(deprecation(_))

        @Html(lib.Markdown(annot.description))
      </div>
      }
    }
    </div>
  }

}
