@(org: io.apibuilder.api.v0.models.Organization,
  app: io.apibuilder.api.v0.models.Application,
  version: String,
  e: io.apibuilder.spec.v0.models.Enum)

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
      @e.deprecation.map { depr =>
        <tr>
            <td>@depr</td>
        </tr>
      }
      @e.values.map { value =>
     <tr>
       <td>@value.name</td>
       <td>@value.value.getOrElse(value.name)</td>
       <td>@Html(lib.Markdown(value.description))</td>
     </tr>
   }
  </tbody>
</table>
