@(
  tpl: models.MainTemplate,
  org: com.bryzek.apidoc.api.v0.models.Organization
)(implicit flash: Flash, messages: Messages)

@main(tpl.copy(title = Some("Org Details"))) {

  <div class="pull-right">
    <span class="glyphicon glyphicon-plus"></span>
    <a href="@routes.Organizations.edit(org.key)">Edit</a>

    @if(tpl.canDeleteOrganization()) {
      <span class="glyphicon glyphicon-plus"></span> 
      <a href="@routes.Organizations.deletePost(org.key)" class="delete" data-confirm="Are you sure?">Delete</a>
    }
  </div>

  <ul>
    <li>Name: @org.name</li>
    <li>Key: @org.key</li>
    <li>Namespace: @org.namespace</li>
    <li>Visibility: @org.visibility.toString</li>
  </ul>

}
