@(tpl: models.MainTemplate,
  form: Form[controllers.Organizations.OrgData],
  errorMessage: Option[String] = None
)(implicit flash: Flash)

@main(tpl) {
  <div class="container">

    @errorMessage.map { msg =>
      <p><span class="error">@msg</span></p>
    }

    @helper.form(action = routes.Organizations.createPost) {

      <fieldset>
          @helper.inputText(
              form("name"),
              '_label -> "Organization Name",
              '_help -> "Your organization's name will be used to group your services together.",
              '_error -> form.error("name")
          )

          @helper.inputText(
              form("key"),
              '_label -> "Key",
              '_help -> "This is the unique URL key that will be used to idenfity your organization. By default, we will generate a unique key based on your organization's name. If you want a specific key to identify your org, enter one here.",
              '_error -> form.error("key")
          )

      </fieldset>

      <button class="btn btn-large btn-primary" type="submit">Submit</button>

    }

  </div>
}
