@(form: Form[controllers.Organizations.OrgData],
  errorMessage: Option[String] = None,
  existingOrg: Option[apidoc.models.Organization] = None
)(implicit flash: Flash)

@main(models.MainTemplate(title = "Add Organization")) {
  <div class="container">

    @errorMessage.map { msg =>
      <p><span class="error">@msg</span></p>
    }

    @existingOrg.map { org =>
      <p><a href="@routes.Organizations.requestMembership(org.key)">Join existing organization @org.name</a></p>
    }

    @helper.form(action = routes.Organizations.createPost) {

      <fieldset>
          @helper.inputText(
              form("name"),
              '_label -> "Organization Name",
              '_help -> "Your organization's name will be used to group your services together.",
              '_error -> form.error("name")
          )

      </fieldset>

      <button class="btn btn-large btn-primary" type="submit">Submit</button>

    }

  </div>
}
