@(form: Form[controllers.Organizations.OrgData],
  cancelUrl: play.api.mvc.Call
)(implicit flash: Flash)

<div class="container">

  @helper.form(action = routes.Organizations.createPost) {

    <fieldset>
        @helper.inputText(
            form("name"),
            '_label -> "Organization Name",
            '_help -> "Your organization's name will be used to group your services together.",
            '_error -> form.error("name")
        )

        @helper.inputText(
            form("key"),
            '_label -> "Key",
            '_help -> "This is the unique URL key that will be used to idenfity your organization. By default, we will generate a unique key based on your organization's name. If you want a specific key to identify your org, enter one here.",
            '_error -> form.error("key")
        )

        @helper.select(
            form("visibility"),
            Seq( ("" -> "-- select --") ) ++ com.gilt.apidoc.api.v0.models.Visibility.all.map( v => (v.toString -> v.toString) ),
            '_label -> "Visibility",
            '_error -> form.error("visibility"),
            '_help -> "Determines whether or not this organization shows up in the public directory."
        )

        @helper.inputText(
            form("namespace"),
            '_label -> "Namespace",
            '_error -> form.error("namespace"),
            '_help -> "The namespace must be globally unique. It is used to identify your services. JVM based clients use the namespace as a prefix for the package name. For example, a namepsace of 'me.apidoc' would result in a class named 'me.apidoc.v1.models.User'. Namespaces are also required when importing service definitions."
        )

    </fieldset>

    <button class="btn btn-large btn-primary" type="submit">Submit</button>
    <a href="@cancelUrl" class="btn">Cancel</a>

  }

</div>

