@(tpl: models.MainTemplate,
  applications: lib.PaginatedCollection[com.gilt.apidoc.models.Application],
  haveRequests: Boolean)(implicit flash: Flash)

@main(tpl) {

  @if(tpl.isOrgMember) {
    <div class="pull-right">
      <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Versions.create(tpl.org.get.key)">Add application</a>
    </div>
  } else {
    <div class="pull-right">
      <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Organizations.requestMembership(tpl.org.get.key)">Join this org</a>
    </div>
  }

  @if(haveRequests) {
    <p><em><a href="@routes.Organizations.membershipRequests(tpl.org.get.key)">Review pending membership requests</a></em></p>
  }

  @if(applications.isEmpty) {
    <em>There are no applications defined</em>

  } else {
    <table class="table table-hover table-condensed">
      <tbody>
        @applications.items.map { application =>
         <tr>
           <td><a href="@routes.Versions.show(tpl.org.get.key, application.key, "latest")">@application.name</a></td>
           <td>@lib.Text.truncate(application.description.getOrElse(""))</td>
         </tr>
       }
      </tbody>
    </table>

    @if(applications.hasPrevious || applications.hasNext) {
      <ul class="pager">
        @if(applications.hasPrevious) {
          <li><a href="@routes.Organizations.show(tpl.org.get.key, applications.page - 1)">Previous</a></li>
        }
        @if(applications.hasNext) {
          <li><a href="@routes.Organizations.show(tpl.org.get.key, applications.page + 1)">Next</a></li>
        }
      </ul>
    }
  }

}
