@(tpl: models.MainTemplate,
  services: lib.PaginatedCollection[com.gilt.apidoc.models.Service],
  haveRequests: Boolean)(implicit flash: Flash)

@main(tpl) {

  @if(tpl.isOrgMember) {
    <div class="pull-right">
      <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Versions.create(tpl.org.get.key)">Add service</a>
    </div>
  } else {
    <div class="pull-right">
      <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Organizations.requestMembership(tpl.org.get.key)">Join this org</a>
    </div>
  }

  @if(haveRequests) {
    <p><em><a href="@routes.Organizations.membershipRequests(tpl.org.get.key)">Review pending membership requests</a></em></p>
  }

  @if(services.isEmpty) {
    <em>There are no services defined</em>

  } else {
    <table class="table table-hover table-condensed">
      <tbody>
        @services.items.map { service =>
         <tr>
           <td><a href="@routes.Versions.show(tpl.org.get.key, service.key, "latest")">@service.name</a></td>
           <td>@core.Text.truncate(service.description.getOrElse(""))</td>
         </tr>
       }
      </tbody>
    </table>

    @if(services.hasPrevious || services.hasNext) {
      <ul class="pager">
        @if(services.hasPrevious) {
          <li><a href="@routes.Organizations.show(tpl.org.get.key, services.page - 1)">Previous</a></li>
        }
        @if(services.hasNext) {
          <li><a href="@routes.Organizations.show(tpl.org.get.key, services.page + 1)">Next</a></li>
        }
      </ul>
    }
  }

}
