@(user: db.User, service: models.Service)

@main(models.MainTemplate(title = service.name, user = Some(user), service = Some(service))) {

  @service.description.getOrElse("")

  <h2>Resources</h2>
  <table class="table table-hover table-condensed">
    <tbody>
      @service.resources.map { resource =>
       <tr>
         <td><a href="@lib.Path.url(service, resource)">@resource.name</a></td>
         <td>@lib.Text.truncate(resource.description.getOrElse(""))</td>
       </tr>
     }
    </tbody>
  </table>

}
