@(tpl: models.MainTemplate,
  organizations: lib.PaginatedCollection[io.apibuilder.api.v0.models.Organization],
  membershipRequests: lib.PaginatedCollection[io.apibuilder.api.v0.models.MembershipRequest],
  publicOrganizations: lib.PaginatedCollection[io.apibuilder.api.v0.models.Organization])(implicit flash: Flash, messages: Messages)

@main(tpl) {

  @if(tpl.user.isEmpty) {

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">New to API Builder?</h3>
      </div>
      <div class="panel-body">

        <div>
          <a type="button" class="btn btn-primary" href="@routes.DocController.index">Start Here</a></button>
        </div>

      </div>
    </div>

  } else {

    <div class="pull-right">
      <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Organizations.create()">Add organization</a>
    </div>

    @if(organizations.isEmpty) {
      <em>You currently do not belong to any organizations</em>
    } else {
      <table class="table table-hover table-condensed">
        <tbody>
          @organizations.items.map { organization =>
           <tr>
             <td><a href="@routes.Organizations.show(organization.key)">@organization.name</a></td>
           </tr>
         }
        </tbody>
      </table>

      @if(organizations.hasPrevious || organizations.hasNext) {
        <ul class="pager">
          @if(organizations.hasPrevious) {
            <li><a href="@routes.ApplicationController.index(organizations.page - 1, membershipRequests.page, publicOrganizations.page)">Previous</a></li>
          }
          @if(organizations.hasNext) {
            <li><a href="@routes.ApplicationController.index(organizations.page + 1, membershipRequests.page, publicOrganizations.page)">Next</a></li>
          }
        </ul>
      }
    }

    @if(!membershipRequests.isEmpty) {
      <h2>Your pending membership requests</h2>
      <table class="table table-hover table-condensed">
        <tbody>
          @membershipRequests.items.map { mr =>
           <tr>
             <td>@mr.organization.name</td>
           </tr>
         }
        </tbody>
      </table>

      @if(membershipRequests.hasPrevious || membershipRequests.hasNext) {
        <ul class="pager">
          @if(membershipRequests.hasPrevious) {
            <li><a href="@routes.ApplicationController.index(organizations.page, membershipRequests.page - 1, publicOrganizations.page)">Previous</a></li>
          }
          @if(membershipRequests.hasNext) {
            <li><a href="@routes.ApplicationController.index(organizations.page, membershipRequests.page + 1, publicOrganizations.page)">Next</a></li>
          }
        </ul>
      }
    }
  }

  @if(!publicOrganizations.isEmpty) {
    @tpl.user.map { u =>
      <h2>Public Organizations</h2>
    }

    <table class="table table-hover table-condensed">
      <tbody>
        @publicOrganizations.items.map { organization =>
         <tr>
           <td><a href="@routes.Organizations.show(organization.key)">@organization.name</a></td>
         </tr>
       }
      </tbody>
    </table>

    @if(publicOrganizations.hasPrevious || publicOrganizations.hasNext) {
      <ul class="pager">
        @if(publicOrganizations.hasPrevious) {
          <li><a href="@routes.ApplicationController.index(organizations.page, membershipRequests.page, publicOrganizations.page - 1)">Previous</a></li>
        }
        @if(publicOrganizations.hasNext) {
          <li><a href="@routes.ApplicationController.index(organizations.page, membershipRequests.page, publicOrganizations.page + 1)">Next</a></li>
        }
      </ul>
    }
  
  }

}
  
