@(metadata: models.MainTemplate,
  errorMessages: Seq[String] = Nil,
  jsFiles: Seq[String] = Seq.empty
)(content: Html)(implicit flash: Flash, messages: Messages)

<!DOCTYPE html>
<html lang="en">
  @mainHead({metadata.headTitle match {
              case None => metadata.title
              case Some(_) => metadata.headTitle
            }})

  <body data-spy="scroll" data-target=".models">

    @mainNavbar(user = metadata.user, org = metadata.org, query = metadata.query, requestPath = metadata.requestPath)

    <div class="container-fluid main-container">
      <div class="row">

        <div class="col-sm-3 col-md-2 sidebar models">
          <ul class="nav nav-sidebar">
            @metadata.org.map { org =>
              <li><a href="@routes.Organizations.show(org.key)">@org.name</a></li>
              <li><a href="@routes.Subscriptions.index(orgKey = org.key)">@lib.Labels.SubscriptionsText</a></li>

              @if(metadata.isOrgMember) {
                <li><a@if(metadata.settings.flatMap(_.section) == Some(models.SettingSection.Details)) { class="active" } href="@routes.Organizations.details(orgKey = org.key)">@lib.Labels.OrgDetailsText</a></li>
              }

              @if(metadata.isOrgMember) {
                @metadata.settings.map { settings =>
                  <li><a@if(settings.section == Some(models.SettingSection.Attributes)) { class="active" } href="@routes.OrganizationAttributesController.index(org.key)">@lib.Labels.OrgAttributesText</a></li>
                  <li><a@if(settings.section == Some(models.SettingSection.Domains)) { class="active" } href="@routes.Domains.index(orgKey = org.key)">Org Domains</a></li>
                  <li><a@if(settings.section == Some(models.SettingSection.Members)) { class="active" } href="@routes.Members.show(orgKey = org.key)">Org Members</a></li>
                }
              }

              @metadata.service.map { service =>
                <li><a href="@routes.Versions.show(service.organization.key, service.application.key, "latest")">@service.name</a></li>
                @metadata.version.map { version =>
                  @if(metadata.isOrgMember) {
                    <li><a href="@routes.ApplicationSettings.show(service.organization.key, service.application.key, version)">Settings</a></li>
                  }
                  @metadata.versionObject.flatMap(_.original).map { original =>
                    <li><a href="@routes.Versions.original(service.organization.key, service.application.key, version)">original (@{original.`type` match {
                      case io.apibuilder.api.v0.models.OriginalType.AvroIdl => "Avro IDL"
                      case io.apibuilder.api.v0.models.OriginalType.ApiJson => "api.json"
                      case io.apibuilder.api.v0.models.OriginalType.ServiceJson => "service.json"
                      case io.apibuilder.api.v0.models.OriginalType.Swagger => "Swagger"
                      case io.apibuilder.api.v0.models.OriginalType.UNDEFINED(name) => name
                    }})</a></li>
                  }
                  <li><a href="@routes.Versions.serviceJson(service.organization.key, service.application.key, version)">@lib.Labels.ServiceJsonText</a></li>
                }
              }

            }
          </ul>

          @metadata.service.map { service =>
            @if(!service.resources.isEmpty) {
              <b>Resources</b>
              <ul class="nav nav-sidebar">
                @service.resources.map { resource =>
                  <li@if(metadata.resource == Some(resource)) { class="active" }><a href="#resource-@lib.UrlKey.generate(resource.`type`)">@{resource.`type`}</a></li>
                }
              </ul>
            }

            @if(!service.enums.isEmpty) {
              <b>Enums</b>
              <ul class="nav nav-sidebar">
                @service.enums.map { e =>
                  <li><a href="#enum-@lib.UrlKey.generate(e.name)">@e.name</a></li>
                }
              </ul>
            }

            @if(!service.interfaces.isEmpty) {
              <b>Interfaces</b>
              <ul class="nav nav-sidebar">
              @service.interfaces.map { interface =>
                <li><a href="#interface-@lib.UrlKey.generate(interface.name)">@interface.name</a></li>
              }
              </ul>
            }

            @if(!service.models.isEmpty) {
              <b>Models</b>
              <ul class="nav nav-sidebar">
                @service.models.map { model =>
                  <li><a href="#model-@lib.UrlKey.generate(model.name)">@model.name</a></li>
                }
              </ul>
            }

            @if(!service.unions.isEmpty) {
              <b>Unions</b>
              <ul class="nav nav-sidebar">
                @service.unions.map { union =>
                  <li><a href="#union-@lib.UrlKey.generate(union.name)">@union.name</a></li>
                }
              </ul>
            }

            @if(!service.annotations.isEmpty) {
            <b>Annotations</b>
            <ul class="nav nav-sidebar">
              @service.annotations.map { annot =>
              <li><a href="#annot-@lib.UrlKey.generate(annot.name)">@annot.name</a></li>
              }
            </ul>
            }

            <b>Clients</b>
            <ul class="nav nav-sidebar">
                @metadata.service.map { service =>
                  @metadata.generators.map { gws =>
                    <li><a href="@routes.Code.index(orgKey = service.organization.key, applicationKey = service.application.key, version = service.version, gws.generator.key)">@gws.generator.name</a>
                  }
                }
            </ul>
          }
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="btn-group pull-right">
              @metadata.version.map { version =>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  @metadata.version <span class="caret"></span>
                </button>
              }

              <ul class="dropdown-menu" role="menu">
                @metadata.service.map { service =>
                  @metadata.allServiceVersions.zipWithIndex.map { case(version, index) =>
                    @if(index == 0) {
                      <li><a href="@routes.Versions.show(service.organization.key, service.application.key, "latest")">@version</a></li>
                    } else {
                      <li><a href="@routes.Versions.show(service.organization.key, service.application.key, version)">@version</a></li>
                    }
                  }
                  <li><a href="@routes.HistoryController.index(org = Some(service.organization.key), app = Some(service.application.key))">History</a></li>
                }
              </ul>
            </div>

          @flash.get("success").map { msg => <span class="label label-success">@msg</span> }
          @flash.get("warning").map { msg => <span class="label label-warning">@msg</span> }
          @flash.get("error").map { msg => <span class="label label-error">@msg</span> }

          @metadata.title.map { title => <h2>@title</h2> }

          @if(!errorMessages.isEmpty) {
	    @if(errorMessages.size == 1) {
              @errorMessages.map { msg => <dd class="error">@msg</dd> }
            } else {
              <ul>
                @errorMessages.map { msg => <li><dd class="error">@msg</dd></li> }
              </ul>
            }
          }

          <p>@content</p>

        </div>
      </div>
    </div>


    <script
     src="https://code.jquery.com/jquery-3.2.1.min.js"
     integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
     crossorigin="anonymous"></script>
    <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/util.js")" type="text/javascript"></script>
    @jsFiles.map { path =>
      <script src="@routes.Assets.at(path)" type="text/javascript"></script>
    }

  </body>
</html>
