@(headerTitle: Option[String])

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Language" content="en">
  <meta name="google" content="notranslate">
  <title>@headerTitle.getOrElse("API Builder")</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap-social/bootstrap-social.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
</head>
