@(tpl: models.MainTemplate)(implicit flash: Flash)

@main(tpl) {

  @tpl.org.map { org =>
    <div class="pull-right">
      <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Domains.create(org.key)">Add domain</a>
    </div>

    @if(org.domains.isEmpty) {
      <em>No domains</em>

    } else {
     
      @org.domains.map { domain =>
        <ul>
          <li>@domain (<a href="@routes.Domains.postRemove(org.key, domain.name)" class="delete" data-confirm="Are you sure?">Remove</a>)</li>
        </ul>
      }
    }
  }

}
