client-tests/
target/
logs/
generated/target/
core/target/
core/logs/
avro/target/
avro/logs/
swagger/target/
swagger/logs/
lib/target/
lib/logs/
api/target/
api/logs/
app/target/
app/logs/
project/target/
.git
.ivy2
*.swp
*.swo
.DS_STORE
*.md
!README.md