target/*
logs/*
project/project/*
project/target/*
client/target/*
client/project/project/*
client/project/target/*
core/target/*
core/project/project/*
core/project/target/*
sbt-apigen/target/*
sbt-apigen/project/project/*
sbt-apigen/project/target/*
svc/target/*
svc/project/project/*
svc/project/target/*
svc/logs/*
web/target/*
web/project/project/*
web/project/target/*
web/logs/*
.idea
.idea_modules/
play-api-routesgen/target/
sbt-apigen/target/
