target/*
logs/*
project/project/*
project/target/*
client/target/*
client/project/project/*
client/project/target/*
core/target/*
core/project/project/*
core/project/target/*
sbt-apigen/target/*
sbt-apigen/project/project/*
sbt-apigen/project/target/*
api/target/*
api/project/project/*
api/project/target/*
api/logs/*
www/target/*
www/project/project/*
www/project/target/*
www/logs/*
