language: scala
scala:
  - 2.13.6
jdk:
  - openjdk13
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/
services:
  - docker
before_script:
  - docker run -d -p 127.0.0.1:7659:5432 flowcommerce/apibuilder-postgresql:latest
script: 
  - sbt ++$TRAVIS_SCALA_VERSION clean compile test
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" | xargs | rm -f
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs | rm -f
branches:
  only:
    - main
