@(tpl: models.MainTemplate,
  util: lib.Util,
  q: Option[String],
  org: Option[String],
  items: lib.PaginatedCollection[io.apibuilder.api.v0.models.Item]
)(implicit flash: Flash, messages: Messages)

@main(tpl) {

  @if(items.isEmpty) {
    <em>No applications found</em>

  } else {
    <table class="table table-hover table-condensed">
      <tbody>
        @items.items.map { item =>
         <tr>
           <td>
	     <a href="@util.searchUrl(item.detail).getOrElse("#")">@item.label</a>
             <br/><em>@item.description</em>
           </td>
         </tr>
       }
      </tbody>
    </table>

    @if(items.hasPrevious || items.hasNext) {
      <ul class="pager">
        @if(items.hasPrevious) {
          <li><a href="@routes.SearchController.index(q, org, items.page - 1)">Previous</a></li>
        }
        @if(items.hasNext) {
          <li><a href="@routes.SearchController.index(q, org, items.page + 1)">Next</a></li>
        }
      </ul>
    }
  }

}
