@(
  tpl: models.MainTemplate,
  service: com.gilt.apidoc.models.Service
)(implicit flash: Flash)

@main(tpl) {

  <div class="pull-right">
    <span class="glyphicon glyphicon-plus"></span> <a href="@routes.ServiceSettings.edit(orgKey = tpl.org.get.key, serviceKey = service.key, version = tpl.version.get)">Edit</a>
  </div>

  <ul>
    <li>Visibility: @service.visibility</li>
  </ul>

  <a href="@routes.ServiceSettings.postDelete(tpl.org.get.key, service.key, tpl.version.get)" class="delete" data-confirm="Are you sure?">Delete this service</a>

}
