@(user: db.User, service: models.Service, resource: models.Resource, operation: models.Operation)

@main(models.MainTemplate(title = service.label(resource, operation), user = Some(user), service = Some(service), resource = Some(resource))) {

  @operation.description.getOrElse("")

  <h3>Resource Url</h3>
  @service.fullUrl(service.url(resource, operation))

  <h3>Parameters</h3>
  @if(operation.parameters.isEmpty) {
    <em>No parameters</em>
  } else {
    @fields(service, operation.parameters)
  }

  <h3>Response</h3>
  HTTP @operation.response.code
  <br/>
  @operation.response.resource.map { resource =>
    @if(operation.response.multiple) {
      List[<a href="@lib.Path.reference(service, resource)">@resource</a>]
    } else {
      <a href="@lib.Path.reference(service, resource)">@resource</a>
    }
  }

}
