@(tpl: models.MainTemplate,
  form: Form[controllers.Domains.DomainData],
  errors: Seq[String] = Seq.empty
)(implicit flash: Flash, messages: Messages)

@main(tpl) {
  <div class="container">

    @helper.form(action = routes.Domains.postCreate(tpl.org.get.key)) {

      <fieldset>
          @if(!errors.isEmpty) {
            <ul>
              @errors.map { msg => <li><span class="error">@msg</span></li> }
            </ul>
          }

          @helper.inputText(
              form("name"),
              Symbol("_label") -> "Domain name",
              Symbol("_error") -> form.error("name")
          )

      </fieldset>

      <div class="actions">
        <button class="btn btn-large btn-primary" type="submit">Submit</button>
        <a href="@routes.Domains.index(tpl.org.get.key)" class="btn">Cancel</a>
      </div>

    }

  </div>

}
