@(tpl: models.MainTemplate)(implicit flash: Flash, messages: Messages)

@main(tpl) {

  <p>
    Organizations can provide one or more domains to automate user
    signup. When a user registers, if their domain matches a company
    domain, that user will be automatically added as a member of the
    organization.
  </p>

  @tpl.org.map { org =>
    <div class="pull-right">
      <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Domains.create(org.key)">Add domain</a>
    </div>

    @if(org.domains.isEmpty) {
      <em>No domains</em>

    } else {
     
      @org.domains.map { domain =>
        <ul>
          <li>@domain (<a href="@routes.Domains.postRemove(org.key, domain.name)" class="delete" data-confirm="Are you sure?">Remove</a>)</li>
        </ul>
      }
    }
  }

}
