@(tpl: models.MainTemplate,
  form: Form[apidoc.models.OrganizationMetadata],
  errors: Seq[String] = Seq.empty
)(implicit flash: Flash)

@main(tpl) {
  <div class="container">

    @helper.form(action = routes.Metadata.postEdit(tpl.org.get.key)) {

      <fieldset>
          @if(!errors.isEmpty) {
            <ul>
              @errors.map { msg => <li><span class="error">@msg</span></li> }
            </ul>
          }

          @helper.inputText(
              form("package_name"),
              '_label -> "Package name",
              '_error -> form.error("packge_name"),
              '_help -> "This package name will be used in JVM based clients to set the prefix for the package. For example, a package name of 'me.apidoc' would result in a class named 'me.apidoc.models.User'. If not specified, we use a package name that is derived from the service name."
          )

      </fieldset>

      <div class="actions">
        <button class="btn btn-large btn-primary" type="submit">Submit</button>
        <a href="@routes.Metadata.show(tpl.org.get.key)" class="btn">Cancel</a>
      </div>

    }

  </div>

}
