@(tpl: models.MainTemplate,
  user: io.apibuilder.api.v0.models.User,
  form: Form[controllers.AccountProfileController.ProfileData],
  errors: Seq[String] = Nil
)(implicit flash: Flash, messages: Messages)

@main(tpl.copy(title = Some("Edit Profile")), errorMessages = errors) {

    @helper.form(action = routes.AccountProfileController.postEdit()) {

      @form.globalErrors.map(_.message).map { msg =>
        <p><span class="error">@msg</span></p>
      }

      <fieldset>
          @helper.inputText(
              form("email"),
              Symbol("_label") -> "Email address",
              Symbol("_error") -> form.error("email")
          )

          @helper.inputText(
              form("nickname"),
              Symbol("_label") -> "Nickname",
              Symbol("_error") -> form.error("nickname")
          )

          @helper.inputText(
              form("name"),
              Symbol("_label") -> "Name",
              Symbol("_error") -> form.error("name")
          )

      </fieldset>

      <button class="btn btn-large btn-primary" type="submit">Save</button>
      <a href="@routes.AccountProfileController.index()">Cancel</a>
    }

}
