@(
  tpl: models.MainTemplate,
  service: io.apibuilder.api.v0.models.GeneratorService,
  generatorWithServices: lib.PaginatedCollection[io.apibuilder.api.v0.models.GeneratorWithService]
)(implicit flash: Flash, messages: Messages)

@main(tpl) {

  <ul>
    <li> URI: @service.uri</li>
    @if(tpl.canDeleteGeneratorService(service)) {
      <li> <a href="@routes.GeneratorServices.deletePost(service.guid)" class="delete" data-confirm="Are you sure? This will also remove all generators asscoated with this service">Delete</a> </li>
    }
  </ul>

  @generators(generatorWithServices, displayService = false)

  @if(generatorWithServices.hasPrevious || generatorWithServices.hasNext) {
    <ul class="pager">
      @if(generatorWithServices.hasPrevious) {
        <li><a href="@routes.GeneratorServices.show(service.guid, page = generatorWithServices.page - 1)">Previous</a></li>
      }
      @if(generatorWithServices.hasNext) {
        <li><a href="@routes.GeneratorServices.show(service.guid, page = generatorWithServices.page + 1)">Next</a></li>
      }
    </ul>
  }

  
}
