@(
  tpl: models.MainTemplate,
  gws: io.apibuilder.api.v0.models.GeneratorWithService
)(implicit flash: Flash, messages: Messages)

@import io.apibuilder.api.v0.models.Visibility

@main(tpl) {

  <ul>
    <li> Service: <a href="@routes.GeneratorServices.show(gws.service.guid)">@gws.service.uri</a></li>
    <li> Key: @gws.generator.key</li>
    <li> Name: @gws.generator.name</li>
    <li> Language: @gws.generator.language.getOrElse("not specified")</li>
    <li> Attributes:
      @if(gws.generator.attributes.isEmpty) {
        <em>None</em>
      } else {
        @gws.generator.attributes.map { attr =>
          <a href="@routes.AttributesController.show(attr)">@attr</a>
        }
      }
    </li>
    <li> Description:
         <blockquote>@Html(lib.Markdown(gws.generator.description))</blockquote>
    </li>
  </ul>

}

    
