@(tpl: models.MainTemplate,
  addForm: Form[controllers.Members.AddMemberData],
  error: Option[String] = None
 )(implicit flash: Flash, messages: Messages)

@import helper._


@main(tpl) {
  <div class="container">

    @helper.form(action = routes.Members.addPost(tpl.org.get.key)) {

      @error.map { msg => <li><span class="error">@msg</span> }

      <fieldset>

          @helper.inputText(
              addForm("email"),
              Symbol("_label") -> "Email address",
              Symbol("_error") -> addForm.error("email")
          )

          @helper.inputText(
              addForm("nickname"),
              Symbol("_label") -> "Or nickname",
              Symbol("_error") -> addForm.error("nickname")
          )

          @helper.select(
              addForm("role"),
              options = io.apibuilder.common.v0.models.MembershipRole.all.map { r => (r.toString, lib.Text.initCap(r.toString) },
              Symbol("_label") -> "Role",
              Symbol("_error") -> addForm.error("role")
          )

      </fieldset>

      <button class="btn btn-large btn-primary" type="submit">Submit</button>

    }

  </div>
}
