@(tpl: models.MainTemplate,
  members: lib.PaginatedCollection[io.apibuilder.api.v0.models.Membership],
  isAdmin: Boolean,
  haveMembershipRequests: Boolean
)(implicit flash: Flash, messages: Messages)

@main(tpl) {

  @if(isAdmin) {
    <div class="pull-right">
      <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Members.add(tpl.org.get.key)">Add member</a>
      <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Members.downloadCsv(tpl.org.get.key)">Download</a>
    </div>

    @if(haveMembershipRequests) {
      <p><em><a href="@routes.Organizations.membershipRequests(tpl.org.get.key)">Review pending membership requests</a></em></p>
    }

  }

  @if(members.isEmpty) {
    <em>There are no members</em>

  } else {
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Email</th>
          <th>Nickname</th>
          <th>Name</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        @members.items.map { member =>
         <tr>
           <td>@member.user.email</td>
           <td>@member.user.nickname</td>
           <td>@member.user.name</td>
           <td>@member.role</td>
           @if(isAdmin) {
             <td>
               @if(member.role == io.apibuilder.common.v0.models.MembershipRole.Member) {
                 <a class="postForm" href="@routes.Members.postMakeAdmin(tpl.org.get.key, member.guid)">Make admin</a>
               } else {
                 <a class="postForm" href="@routes.Members.postRevokeAdmin(tpl.org.get.key, member.guid)">Revoke admin</a>
               }
               | <a href="@routes.Members.postRemove(tpl.org.get.key, member.guid)" class="delete" data-confirm="Are you sure?">Remove</a>
             </td>
           }
         </tr>
       }
      </tbody>
    </table>

    @if(members.hasPrevious || members.hasNext) {
      <ul class="pager">
        @if(members.hasPrevious) {
          <li><a href="@routes.Members.show(tpl.org.get.key, members.page - 1)">Previous</a></li>
        }
        @if(members.hasNext) {
          <li><a href="@routes.Members.show(tpl.org.get.key, members.page + 1)">Next</a></li>
        }
      </ul>
    }
  }

}
