@()(implicit flash: Flash)

@main(models.MainTemplate(title = "Login"),
     Seq("/javascripts/login.js")) {

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
  <style>
      #f_openid {
        padding-left: 25px;
        border: 1px solid #999;
        background: #fff url('@routes.Assets.at("images/openid-small.png")') no-repeat scroll 5px 50%
      }
  </style>

  <div class="container">

      <img src="@routes.Assets.at("images/openid.png")" width="200" />

      <form class="form-signin" id="openid-form" method="post" action="@routes.LoginController.indexPost">
        Open ID: <input id="openid" type="text" name="openid" class="input-block-level">
        <button id="openid-button" class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>

      <div id="provider_google"><img height="16" src="@routes.Assets.at("images/login-google.png")" width="16"><a href="/login/?id=https://www.google.com/accounts/o8/id" id="id_google">Sign in with a Google Account</a></div>
      <div id="provider_yahoo"><img height="16" src="@routes.Assets.at("images/login-yahoo.png")" width="16"><a href="/login/?id=https://me.yahoo.com" id="id_yahoo">Sign in with a Yahoo! ID</a></div>

      <h3>What is OpenID?</h3>
      <p>OpenID provides secure single-sign-on, without revealing your passwords to this website.</p>
      <p>There are many OpenID providers available: </p><p><a href="http://openid.net/get/" target="_blank">Get OpenID</a></p>

  </div>

}
