@(
  tpl: models.MainTemplate,
  application: com.bryzek.apidoc.api.v0.models.Application
)(implicit flash: Flash, messages: Messages)

@main(tpl) {

  @tpl.org.map { org =>
    @if(tpl.canEditApplication(application.key)) {
      <div class="pull-right">
        <span class="glyphicon glyphicon-plus"></span> <a href="@routes.ApplicationSettings.edit(orgKey = org.key, applicationKey = application.key, version = tpl.version.get)">Edit</a>
      </div>
    }

    <ul>
      <li>Visibility: @application.visibility</li>
    </ul>

    @if(tpl.canAdminApplication(application.key)) {
      <a href="@routes.ApplicationSettings.move(org.key, application.key)">Move to new organization</a> |
      <a href="@routes.ApplicationSettings.postDelete(org.key, application.key)" class="delete" data-confirm="Are you sure?">Delete this application</a>
    }
}

}
