@(form: Form[controllers.AttributesController.AttributeFormData],
  cancelUrl: play.api.mvc.Call
)(implicit flash: Flash, messages: Messages)

<fieldset>
    @helper.inputText(
        form("name"),
        Symbol("_label") -> "Attribute Name",
        Symbol("_help") -> "URL friendly, globally unique attribute name.",
        Symbol("_error") -> form.error("name")
    )

    @helper.textarea(
        form("description"),
        Symbol("cols") -> 50,
        Symbol("rows") -> 5,
        Symbol("_label") -> "Description",
        Symbol("_error") -> form.error("description")
    )
</fieldset>

<button class="btn btn-large btn-primary" type="submit">Submit</button>
<a href="@cancelUrl" class="btn">Cancel</a>
