@(tpl: models.MainTemplate, service: core.ServiceDescription)(implicit flash: Flash)

@main(tpl) {

  @service.description.getOrElse("")

  <div class="pull-right">
    <a href="@routes.Versions.create(orgKey = tpl.org.get.key, version = Some(tpl.version.get))">Upload new version</a>
    <br/>
    <a href="@routes.Versions.apiJson(orgKey = tpl.org.get.key, serviceKey = tpl.service.get.key, version = tpl.version.get)">api.json</a>
    <br/>
    <a href="@codegen.routes.Play2.getClient(org = tpl.org.get.key, service = tpl.service.get.key, version = tpl.version.get)">Codegen: Play 2 Client</a>
    <br/>
    <a href="@codegen.routes.Play2.getRoutes(org = tpl.org.get.key, service = tpl.service.get.key, version = tpl.version.get)">Codegen: Play 2 Routes</a>
    <br/>
    <a href="@codegen.routes.RubyGenerator.gem(org = tpl.org.get.key, service = tpl.service.get.key, version = tpl.version.get)">Codegen: Ruby Gem</a>
  </div>

  <h2>Resources</h2>
  <table class="table table-hover table-condensed">
    <tbody>
      @service.resources.map { resource =>
       <tr>
         <td><a href="#resource-@core.UrlKey.generate(resource.name)">@resource.name</a></td>
         <td>@core.Text.truncate(resource.description.getOrElse(""))</td>
       </tr>
     }
    </tbody>
  </table>


  @service.resources.map { resource =>
    <div id="resource-@core.UrlKey.generate(resource.name)"></div>
    <a name="resource-@core.UrlKey.generate(resource.name)"></a>
    <div class="version_resource">
      <h2>@resource.name</h2>

      @resource.description.getOrElse("")

      <h3>Fields</h3>
      @fields(resource.fields)

      <h3>Operations</h3>
      @if(resource.operations.isEmpty) {
        <em>No operations</em>
      } else {
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Method and Path</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
           @resource.operations.zipWithIndex.map { case(op, index) =>
             <tr>
               <td class="nowrap"><a onClick="$('#operation-@core.UrlKey.generate(resource.name)-@index').toggle()">@op.method @service.basePath@resource.path@op.path.getOrElse("")</a></td>
               <td>@op.description.getOrElse("")</td>
             </tr>
             <tr id="operation-@core.UrlKey.generate(resource.name)-@index" style="display:none">
               <td></td>
               <td>@operation(service, resource, op)</td>
             </tr>
           }
          </tbody>
        </table>
      }

    </div>
  }

}
