@(metadata: models.MainTemplate,
  jsFiles: Seq[String] = Seq.empty
)(content: Html)(implicit flash: Flash)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@metadata.title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap-3.1.1/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
  </head>

  <body data-spy="scroll" data-target=".models">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Apidoc</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="@routes.DocController.index()">Documentation</a></li>
            <li><a href="https://github.com/gilt/apidoc">github</a></li>
          </ul>
          @metadata.user.map { user =>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="/account" class="dropdown-toggle" data-toggle="dropdown">@user.name.getOrElse(user.email) <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
          }
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar models">
          @metadata.org.map { org =>
            <ul class="nav nav-sidebar">
              <li><a href="@routes.Organizations.show(org.key)">@org.name</a></li>
              @metadata.service.map { service =>
                <li><a href="@routes.Versions.show(org.key, service.key, "latest")">@service.name</a></li>
                <li><a href="@routes.Versions.apiJson(orgKey = org.key, serviceKey = service.key, version = metadata.version.get)">api.json</a></li>
              }
            </ul>
          }

          @metadata.serviceDescription.map { sd =>
            @if(!sd.resources.isEmpty) {
              <b>Resources</b>
              <ul class="nav nav-sidebar">
                @sd.resources.map { resource =>
                  <li@if(metadata.resource == Some(resource)) { class="active" }><a href="#model-@core.UrlKey.generate(resource.model.name)">@resource.model.plural</a></li>
                }
              </ul>
            }

            @if(!sd.models.isEmpty) {
              <b>Models</b>
              <ul class="nav nav-sidebar">
                @sd.modelsWithoutResources.map { model =>
                  <li@if(metadata.model == Some(model)) { class="active" }><a href="#model-@core.UrlKey.generate(model.name)">@model.name</a></li>
                }
              </ul>
            }

            <b>Codgen</b>
            <ul class="nav nav-sidebar">
              @core.generator.Target.implemented.map { target =>
                <li><a href="@routes.Code.generate(organization = metadata.org.get.key, service = metadata.service.get.key, version = metadata.version.get, target)">@core.generator.Target.humanize(target)</a>
              }
            </ul>
          }
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="btn-group pull-right">
              @metadata.version.map { version =>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  @metadata.version <span class="caret"></span>
                </button>
              }

              <ul class="dropdown-menu" role="menu">
                @metadata.org.map { org =>
                  @metadata.service.map { service =>
                    @metadata.allServiceVersions.zipWithIndex.map { case(version, index) =>
                      @if(index == 0) {
                        <li><a href="@routes.Versions.show(org.key, service.key, "latest")">@version</a></li>
                      } else {
                        <li><a href="@routes.Versions.show(org.key, service.key, version)">@version</a></li>
                      }
                    }
                  }
                }
              </ul>
            </div>

          @flash.get("success").map { msg => <span class="label label-success">@msg</span> }
          @flash.get("warning").map { msg => <span class="label label-warning">@msg</span> }
          @flash.get("error").map { msg => <span class="label label-error">@msg</span> }

          <h2>@metadata.title</h2>

          <p>@content</p>

        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@routes.Assets.at("bootstrap-3.1.1/js/bootstrap.min.js")" type="text/javascript"></script>
    @jsFiles.map { path =>
      <script src="@routes.Assets.at(path)" type="text/javascript"></script>
    }
  </body>
</html>
