@(user: Option[com.gilt.apidoc.v0.models.User],
  requestPath: String)

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="@routes.DocController.index()">Documentation</a></li>
        <li><a href="@lib.Util.GitHubUrl">github</a></li>
      </ul>
      @if(user.isEmpty) {
        <ul class="nav navbar-nav navbar-right">
          <li><a href="@routes.LoginController.index(return_url = Some(requestPath))">Login/Register</a></li>
        </ul>
      } else {
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="/account" class="dropdown-toggle" data-toggle="dropdown">@user.get.nickname <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="@routes.Generators.index()">Generators</a></li>
              <li><a href="@routes.AccountController.index()">Account</a></li>
              <li><a href="@routes.TokensController.index()">Tokens</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      }
    </div>
  </div>
</div>
