@(tpl: models.MainTemplate,
  orgKey: String,
  applicationKey: String,
  version: String,
  generatorKey: String,
  files: Seq[io.apibuilder.generator.v0.models.File]
)(implicit flash: Flash, messages: Messages)

@main(tpl) {

  <div class="pull-right">
    <span class="glyphicon"></span>
      <a href="@routes.Code.zipFile(orgKey = orgKey, applicationKey = applicationKey, version = version, generatorKey = generatorKey, fileName = s"$applicationKey-$version")">Download (.zip)</a>
      | <a href="@routes.Code.tarballFile(orgKey = orgKey, applicationKey = applicationKey, version = version, generatorKey = generatorKey, fileName = s"$applicationKey-$version")">Download (.tar.gz)</a>

  </div>

  <table class="table table-hover table-condensed">
    <tbody>
      @files.map { file =>
        <tr>
          <td><a href="@{tpl.requestPath}/@file.name">@file.name (@{lib.Bytes.label(file.contents.getBytes.length)})</a></td>
        </tr>
      }
    </tbody>
  </table>

}
  
