@(
  tpl: models.MainTemplate,
  attr: com.bryzek.apidoc.api.v0.models.Attribute
)(implicit flash: Flash, messages: Messages)

@main(tpl) {

  @if(tpl.canEditAttribute(attr)) {
    <div class="pull-right">
      <span class="glyphicon glyphicon-plus"></span> <a class="delete" data-confirm="Are you sure?" href="@routes.Attributes.deletePost(attr.name)">Delete</a>
    </div>
  }

  <ul>
    <li> Name: @attr.name</li>
    <li> Description:
         <blockquote>@Html(lib.Markdown(attr.description))</blockquote>
    </li>
  </ul>

}

    
