@(tpl: models.MainTemplate,
  org: client.Apidoc.Organization,
  services: lib.PaginatedCollection[client.Apidoc.Service])

@main(tpl) {

  <div class="pull-right">
    <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Versions.create(org.key)">Add service</a>
  </div>

  @if(services.isEmpty) {
    <em>There are no services defined</em>

  } else {
    <table class="table table-hover table-condensed">
      <tbody>
        @services.items.map { service =>
         <tr>
           <td><a href="@routes.Versions.show(tpl.org.get.key, service.key, "latest")">@service.name</a></td>
           <td>@lib.Text.truncate(service.description.getOrElse(""))</td>
         </tr>
       }
      </tbody>
    </table>

    @tpl.org.map { org =>
      @if(services.hasPrevious || services.hasNext) {
        <ul class="pager">
          @if(services.hasPrevious) {
            <li><a href="@routes.Organizations.show(org.key, services.page - 1)">Previous</a></li>
          }
          @if(services.hasNext) {
            <li><a href="@routes.Organizations.show(org.key, services.page + 1)">Next</a></li>
          }
        </ul>
      }
    }
  }

}
