@(org: com.gilt.apidoc.api.v0.models.Organization,
 app: com.gilt.apidoc.api.v0.models.Application,
 version: String,
 service: com.gilt.apidoc.spec.v0.models.Service,
 body: com.gilt.apidoc.spec.v0.models.Body
)

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="2">Description</th>
    </tr>
  </thead>
  <tbody>
   <tr>
     <td>@datatype(org, app, version, service, body.`type`)</td>
     <td>@Html(lib.Markdown.toHtml(body.description.getOrElse("N/A")))</td>
     <td>@body.deprecation.map(deprecation(_))</td>
   </tr>
  </tbody>
</table>
