@(org: com.gilt.apidoc.models.Organization, service: com.gilt.apidoc.models.Service, version: String, sd: codegenerator.models.ServiceDescription, operation: codegenerator.models.Operation)

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
   <tr>
     <td>@{operation.body.get match {
           case codegenerator.models.Type(codegenerator.models.TypeKind.Primitive, name, multiple) => datatype(core.Datatype.forceByName(name), multiple)
           case codegenerator.models.Type(codegenerator.models.TypeKind.Model, name, multiple) => modelTypeByName(org, service, version, sd, name, multiple)
           case codegenerator.models.Type(codegenerator.models.TypeKind.Enum, name, multiple) => enumType(org, service, version, name, multiple)
         }}
     </td>
   </tr>
  </tbody>
</table>
