@(org: apidoc.models.Organization, service: apidoc.models.Service, version: String, sd: core.ServiceDescription, fields: Iterable[core.Field])

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Required?</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
   @fields.map { field =>
     <tr>
       <td>@field.name</td>
       <td>@{field.fieldtype match {
             case pt: core.PrimitiveFieldType => datatype(pt.datatype, field.multiple)
             case mt: core.ModelFieldType => modelTypeByName(org, service, version, sd, mt.modelName, field.multiple)
             case et: core.EnumFieldType => enumType(org, service, version, et.enum.name, field.multiple)
           }}
       </td>
       <td>@if(field.required && field.default.isEmpty) { Yes } else { No }</td>
       <td>@field.default.getOrElse("-")</td>
       <td>@field.description.getOrElse("")
           <p>
             @{field.fieldtype match {
               case et: core.EnumFieldType => s"Acceptable values: ${et.enum.values.mkString(", ")}"
               case _ => ""
             }}

             @field.minimum.map { v => Minimum: @v<br/> }
             @field.maximum.map { v => Maximum: @v<br/> }

             @field.example.map { example =>
               Example: @example<br />
             }
           </p>
       </td>
     </tr>
   }
  </tbody>
</table>
