@(org: io.apibuilder.api.v0.models.Organization,
  app: io.apibuilder.api.v0.models.Application,
  version: String,
  service: io.apibuilder.spec.v0.models.Service,
  headers: Seq[io.apibuilder.spec.v0.models.Header]
)

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Required?</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
   @headers.map { header =>
     <tr>
       <td>@header.name@header.deprecation.map(deprecation(_))</td>
       <td>@datatype(org, app, version, service, header.`type`)</td>
       <td>@if(header.required && header.default.isEmpty) { Yes } else { No }</td>
       <td>@header.default.getOrElse("-")</td>
       <td>@Html(lib.Markdown(header.description))</td>
     </tr>
   }
  </tbody>
</table>
