@(org: com.gilt.apidoc.models.Organization, service: com.gilt.apidoc.models.Service, version: String, sd: core.ServiceDescription, paramTypeName: String, isMultiple: Boolean)

@{core.Datatype.findByName(paramTypeName) match {
  case Some(dt: core.Datatype) => datatype(dt, isMultiple)
  case None => {
    sd.models.find { _.name == paramTypeName } match {
      case Some(model) => modelType(org, service, version, model, isMultiple)
      case None => {
        sd.enums.find { _.name == paramTypeName } match {
          case Some(enum) => enumType(org, service, version, enum.name, isMultiple)
          case None => lib.Util.formatType(paramTypeName, isMultiple)
        }
      }
    }
  }
}}
