@(org: com.gilt.apidoc.models.Organization, service: com.gilt.apidoc.models.Service, version: String, sd: codegenerator.models.ServiceDescription, operation: codegenerator.models.Operation)

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Location</th>
      <th>Required?</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
   @operation.parameters.map { param =>
     <tr>
       <td>@param.name</td>
       <td>@{param.paramtype match {
             case codegenerator.models.Type(codegenerator.models.TypeKind.Primitive, name, multiple) => datatype(core.Datatype.forceByName(name), multiple)
             case codegenerator.models.Type(codegenerator.models.TypeKind.Model, name, multiple) => modelTypeByName(org, service, version, sd, name, multiple)
             case codegenerator.models.Type(codegenerator.models.TypeKind.Enum, name, multiple) => enumType(org, service, version, name, multiple)
           }}
       </td>
       <td>@param.location</td>
       <td>@if(param.required && param.default.isEmpty) { Yes } else { No }</td>
       <td>@param.default.getOrElse("-")</td>
       <td>@param.description.getOrElse("")
           <p>
             @param.minimum.map { v => Minimum: @v<br/> }
             @param.maximum.map { v => Maximum: @v<br/> }

             @param.example.map { example =>
               Example: @example
             }
           </p>
       </td>
     </tr>
   }
  </tbody>
</table>
