@(org: com.gilt.apidoc.models.Organization,
  app: com.gilt.apidoc.models.Application,
  version: String,
  service: com.gilt.apidoc.spec.models.Service,
  operation: com.gilt.apidoc.spec.models.Operation
)

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Location</th>
      <th>Required?</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
   @operation.parameters.map { param =>
     <tr>
       <td>@param.name</td>
       <td>@datatype(org, app, version, service, param.`type`)</td>
       <td>@param.location</td>
       <td>@if(param.required && param.default.isEmpty) { Yes } else { No }</td>
       <td>@param.default.getOrElse("-")</td>
       <td>@param.description.getOrElse("")
           <p>
             @param.minimum.map { v => Minimum: @v<br/> }
             @param.maximum.map { v => Maximum: @v<br/> }

             @param.example.map { example =>
               Example: @example
             }
           </p>
       </td>
     </tr>
   }
  </tbody>
</table>
