@(tpl: models.MainTemplate,
  application: com.gilt.apidoc.api.v0.models.Application,
  service: com.gilt.apidoc.spec.v0.models.Service,
  isWatching: Boolean
)(implicit flash: Flash)

@main(tpl) {

  <div class="versions-header clearfix">
    <div class="pull-right">
      @if(tpl.isOrgMember) {
        <a href="@routes.Versions.create(orgKey = tpl.org.get.key, application = Some(service.application.key))">Upload new version</a> |
        <a class="delete" text="Are you sure?" href="@routes.Versions.postDelete(orgKey = service.organization.key, applicationKey = service.application.key, version = service.version)">Delete this version</a> |
      }

      @if(isWatching) {
        <a class="postForm" href="@routes.Versions.postWatch(orgKey = service.organization.key, applicationKey = service.application.key, version = service.version)">Watching</a>
      } else {
        <a class="postForm" href="@routes.Versions.postWatch(orgKey = service.organization.key, applicationKey = service.application.key, version = service.version)">Watch</a>
      }
    </div>

    <div class="pull-left">
      @service.description.map { desc =>
        <p class="service-description">
          @Html(lib.Markdown.toHtml(desc))
        </p>
      }

      <ul>
        <li> Contact:
          @service.info.contact.map { contact =>
            @Html(contact.email match {
              case None => contact.name.getOrElse("")
              case Some(email) => s"<a href='mailto:$email'>${contact.name.getOrElse(email)}</a>"
            })
            @Html(contact.url.map { url => s"<a href='$url'>$url</a>" }.getOrElse(""))
          }.getOrElse("N/A")
        </li>

        <li> License:
         @service.info.license.map { license =>
             @Html(license.url match {
              case None => license.name
              case Some(url) => s"<a href='$url'>${license.name}</a>"
            })
          }.getOrElse("N/A")
        </li>
    </ul>
    </div>
  </div>
 
  <div class="versions-show">
    <h2>Resources</h2>
    @if(service.resources.isEmpty) {
      <em>No resources</em>
    } else {
      @resources(tpl.org.get, application, tpl.version.get, service)
    }

    <h2>Headers</h2>
    @if(service.headers.isEmpty) {
      <em>No headers</em>
    } else {
      @headers(tpl.org.get, application, tpl.version.get, service, service.headers)
    }

    <h2>Imports</h2>
    @if(service.imports.isEmpty) {
      <em>No imports</em>
    } else {
      @imports(service.imports)
    }

    <h2>Enums</h2>
    @if(service.enums.isEmpty) {
      <em>No enums</em>
    } else {
      @service.enums.map { enum =>
        <div id="enum-@lib.UrlKey.generate(enum.name)"></div>
        <a name="enum-@lib.UrlKey.generate(enum.name)"></a>
        <div class="version_model">
          <h3>@enum.name</h3>
          @enum.deprecation.map(deprecation(_))

          @Html(lib.Markdown(enum.description))

          @values(tpl.org.get, application, tpl.version.get, enum)
        </div>
      }
    }

    <h2>Models</h2>
    @if(service.models.isEmpty) {
      <em>No models</em>
    } else {
      @service.models.map { model =>
        <div id="model-@lib.UrlKey.generate(model.name)"></div>
        <a name="model-@lib.UrlKey.generate(model.name)"></a>
        <div class="version_model">
          <h3>@model.name</h3>
          @model.deprecation.map(deprecation(_))

          @Html(lib.Markdown(model.description))

          @fields(tpl.org.get, application, tpl.version.get, service, model.fields)
        </div>
      }

    <h2>Unions</h2>
    @if(service.unions.isEmpty) {
      <em>No unions</em>
    } else {
      @service.unions.map { union =>
        <div id="union-@lib.UrlKey.generate(union.name)"></div>
        <a name="union-@lib.UrlKey.generate(union.name)"></a>
        <div class="version_union">
          <h3>@union.name</h3>
          @union.deprecation.map(deprecation(_))

          @Html(lib.Markdown(union.description))

          @unionTypes(tpl.org.get, application, tpl.version.get, service, union)
        </div>
      }
    }

    </div>
  }

}
