@(tpl: models.MainTemplate, service: core.ServiceDescription)(implicit flash: Flash)

@main(tpl) {

  <div class="pull-right">
    <a href="@routes.Versions.create(orgKey = tpl.org.get.key, version = Some(tpl.version.get))">Upload new version</a>
    <br/>
    <a href="@routes.Versions.apiJson(orgKey = tpl.org.get.key, serviceKey = tpl.service.get.key, version = tpl.version.get)">api.json</a>
    <br/>
    <a href="@codegen.routes.Play2.getClient(org = tpl.org.get.key, service = tpl.service.get.key, version = tpl.version.get)">Codegen: Play 2 Client</a>
    <br/>
    <a href="@codegen.routes.Play2.getRoutes(org = tpl.org.get.key, service = tpl.service.get.key, version = tpl.version.get)">Codegen: Play 2 Routes</a>
    <br/>
    <a href="@codegen.routes.RubyGenerator.gem(org = tpl.org.get.key, service = tpl.service.get.key, version = tpl.version.get, filename = "%s-%s-%s.rb".format(tpl.org.get.key, tpl.service.get.key, tpl.version.get))">Codegen: Ruby Gem</a>
  </div>

  <div class="pull-left">
    @service.description.getOrElse("")

    <h2>Resources</h2>
    @service.resources.map { resource =>
      <div id="model-@core.UrlKey.generate(resource.model.name)"></div>
      <a name="model-@core.UrlKey.generate(resource.model.name)"></a>
      <div class="version_resource">
        <h3>@resource.model.name</h3>

        @resource.model.description.getOrElse("")

        <h4>Fields</h4>
        @fields(resource.model.fields)

        <h4>Operations</h4>
        @if(resource.operations.isEmpty) {
          <em>No operations</em>
        } else {
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th colspan="2">Method and Path</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
             @resource.operations.zipWithIndex.map { case(operation, index) =>
               <tr>
                 <td class="nowrap"><a onClick="$('#operation-@core.UrlKey.generate(resource.model.name)-@index').toggle()">@operation.method</a></td>
                 <td class="nowrap"><a onClick="$('#operation-@core.UrlKey.generate(resource.model.name)-@index').toggle()">@operation.path</a></td>
                 <td>@operation.description.getOrElse("")</td>
               </tr>
               <tr id="operation-@core.UrlKey.generate(resource.model.name)-@index" style="display:noneTest">
                 <td></td>
                 <td colspan="2">
                   @operation.method @service.baseUrl@operation.path

                   <h4>Parameters</h4>
                   @if(operation.parameters.isEmpty) {
                     <em>No parameters</em>
                   } else {
                     @parameters(operation.parameters)
                   }

                   <h4>Response</h4>
                   @operation.responses.map { response =>

                     <p>
                       HTTP @response.code:
                       @if(response.multiple) {
                         [@parameterType(tpl.org.get, tpl.service.get, tpl.version.get, service, response.datatype)]
                       } else {
                         @parameterType(tpl.org.get, tpl.service.get, tpl.version.get, service, response.datatype)
                       }
                     </p>
                   }
                 </td>

               </tr>
             }
            </tbody>
          </table>
        }

      </div>
    }

    <h2>Models</h2>
    @service.modelsWithoutResources.map { model =>
      <div id="model-@core.UrlKey.generate(model.name)"></div>
      <a name="model-@core.UrlKey.generate(model.name)"></a>
      <div class="version_model">
        <h3>@model.name</h3>

        @model.description.getOrElse("")

        <h4>Fields</h4>
        @fields(model.fields)
      </div>
    }
  </div>
}
