@(tpl: models.MainTemplate, service: core.ServiceDescription)(implicit flash: Flash)

@main(tpl) {

  @service.description.getOrElse("")

  <div class="pull-right">
    <a href="@routes.Versions.create(orgKey = tpl.org.get.key, version = Some(tpl.version.get))">Upload new version</a>
    <br/>
    <a href="@routes.Versions.apiJson(orgKey = tpl.org.get.key, serviceKey = tpl.service.get.key, version = tpl.version.get)">api.json</a>
    <br/>
    <a href="@codegen.routes.Play2.getClient(org = tpl.org.get.key, service = tpl.service.get.key, version = tpl.version.get)">Codegen: Play 2 Client</a>
    <br/>
    <a href="@codegen.routes.Play2.getRoutes(org = tpl.org.get.key, service = tpl.service.get.key, version = tpl.version.get)">Codegen: Play 2 Routes</a>
    <br/>
    <a href="@codegen.routes.RubyGenerator.gem(org = tpl.org.get.key, service = tpl.service.get.key, version = tpl.version.get)">Codegen: Ruby Gem</a>
  </div>

  <h2>Models</h2>
  <table class="table table-hover table-condensed">
    <tbody>
      @service.models.map { model =>
       <tr>
         <td><a href="#model-@core.UrlKey.generate(model.name)">@model.name</a></td>
         <td>@core.Text.truncate(model.description.getOrElse(""))</td>
       </tr>
     }
    </tbody>
  </table>


  @service.models.map { model =>
    <div id="model-@core.UrlKey.generate(model.name)"></div>
    <a name="model-@core.UrlKey.generate(model.name)"></a>
    <div class="version_model">
      <h2>@model.name</h2>

      @model.description.getOrElse("")

      <h3>Fields</h3>
      @fields(model.fields)

      <h3>Operations</h3>
      @if(service.operationsForModel(model).isEmpty) {
        <em>No operations</em>
      } else {
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th colspan="2">Method and Path</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
           @service.operationsForModel(model).zipWithIndex.map { case(op, index) =>
             <tr>
               <td class="nowrap"><a onClick="$('#operation-@core.UrlKey.generate(model.name)-@index').toggle()">@op.method</a></td>
               <td class="nowrap"><a onClick="$('#operation-@core.UrlKey.generate(model.name)-@index').toggle()">@service.basePath@op.path</a></td>
               <td>@op.description.getOrElse("")</td>
             </tr>
             <tr id="operation-@core.UrlKey.generate(model.name)-@index" style="display:none">
               <td></td>
               <td colspan="2">@operation(service, op)</td>
             </tr>
           }
          </tbody>
        </table>
      }

    </div>
  }

}
