@(org: com.gilt.apidoc.models.Organization,
  service: com.gilt.apidoc.models.Service,
  version: String,
  sd: com.gilt.apidocgenerator.models.ServiceDescription,
  ti: com.gilt.apidocgenerator.models.TypeInstance)

@{ti match {
  case com.gilt.apidocgenerator.models.TypeInstance(container, com.gilt.apidocgenerator.models.Type(com.gilt.apidocgenerator.models.TypeKind.Primitive, name)) => primitive(container, name)
  case com.gilt.apidocgenerator.models.TypeInstance(container, com.gilt.apidocgenerator.models.Type(com.gilt.apidocgenerator.models.TypeKind.Model, name)) => modelTypeByName(org, service, version, sd, container, name)
  case com.gilt.apidocgenerator.models.TypeInstance(container, com.gilt.apidocgenerator.models.Type(com.gilt.apidocgenerator.models.TypeKind.Enum, name)) => enumType(org, service, version, container, name)
}}

