@(tpl: models.MainTemplate,
  form: Form[controllers.LoginController.ForgotPasswordData]
)(implicit flash: Flash)

@main(tpl.copy(headTitle = Some("apidoc: Forgot Password"))) {

  @helper.form(action = routes.LoginController.postForgotPassword) {

    <fieldset>

        @helper.inputText(
            form("email"),
            '_label -> "Email address",
            '_error -> form.error("email")
        )

    </fieldset>

    <button class="btn btn-large btn-primary" type="submit">Sent Email to Reset Password</button>

  }

}
