@(tpl: models.MainTemplate, email: String)(implicit flash: Flash)

@main(tpl.copy(headTitle = Some("apidoc: Forgot Password"))) {

  <p>
    If there is an account with the email address <b>@email</b>, we
    have sent an email message containing a link to reset your
    password. If this account does not exist, you will not receive an
    email message and you may need to register.
  </p>

  <p>
    <a href="@routes.LoginController.index()" class="btn btn-large btn-primary" type="submit">Login</a>
  </p>

}
