@(tpl: models.MainTemplate,
  tab: controllers.LoginController.Tab,
  returnUrl: Option[String] = None
)(implicit flash: Flash, messages: Messages)

@main(tpl.copy(headTitle = Some("apidoc: Login"))) {

  <div class="container">
    <div class="row">
      <section class="col-xs-12 px0">
        <div class="pull-left">

          <a class="btn btn-block btn-social btn-github" href="@lib.Github.oauthUrl(returnUrl)">
            <span class="fa fa-github"></span> Login with Github
          </a>
        
          <a class="btn btn-block btn-social btn-github" href="@routes.LoginController.legacy(returnUrl)">
            <span class="fa"></span> Legacy signin
          </a>

        </div>
      </section>
    </div>
  </div>

}
