@(tpl: models.MainTemplate,
  token: String,
  form: Form[controllers.LoginController.ResetPasswordData],
  errorMessage: Option[String] = None
)(implicit flash: Flash)

@main(tpl.copy(headTitle = Some("apidoc: Reset Password"))) {

  @errorMessage.map { msg =>
    <p><span class="error">@msg</span></p>
  }

  @helper.form(action = routes.LoginController.postResetPassword(token)) {

    <fieldset>

      @helper.inputPassword(
          form("password"),
          '_label -> "Password",
          '_error -> form.error("password")
      )

      @helper.inputPassword(
          form("password_verify"),
          '_label -> "Verify Password",
          '_error -> form.error("password_verify")
      )

    </fieldset>

    <button class="btn btn-large btn-primary" type="submit">Reset Password</button>

    <p>
      <a href="@routes.LoginController.index()" class="btn">Go to login form</a>
    </p>

  }

}
