@(tpl: models.MainTemplate,
  github: lib.Github,
  tab: controllers.LoginController.Tab,
  returnUrl: Option[String] = None
)(implicit flash: Flash, messages: Messages)

@main(tpl.copy(headTitle = Some("Sign in"))) {

  <div class="container">
    <div class="row">
      <section class="col-xs-12 px0">
        <div class="pull-left">
          <a class="btn btn-block btn-social btn-github" href="@github.oauthUrl(returnUrl)">
            <i class="fa fa-github"></i>Sign in with GitHub
          </a>
        </div>
      </section>

      <section class="col-xs-12 px0">
        <div class="pull-left">
          <a href="@routes.LoginController.legacy(returnUrl)">
            <span class="fa"></span> Legacy Sign in
          </a>
        </div>
      </section>
    </div>
  </div>

}
