@(tpl: models.MainTemplate,
  tab: controllers.LoginController.Tab,
  loginForm: Form[controllers.LoginController.LoginData],
  registerForm: Form[controllers.LoginController.RegisterData],
  errorMessage: Option[String] = None,
  returnUrl: Option[String] = None
)(implicit flash: Flash, messages: Messages)

@main(tpl.copy(headTitle = Some("Legacy Login"))) {

  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="" id="loginModal">
          <div class="modal-body">
            <div class="well">
              <div class="tab-content">
                <p><b>Sign in</b></p>

                <p>
                  <em>
                    Note this login method is deprecated. Once we have
                    a migration process in place to merge pre-existing
                    accounts with your GitHub ones, we will remove
                    this login. New users should register via GitHub.
                  </em>
                </p>

                @errorMessage.map { msg =>
                  <p><span class="error">@msg</span></p>
                }

                <div id="login" class="tab-pane @if(tab == controllers.LoginController.Tab.Login) { active in } else { fade }">

                  @helper.form(action = routes.LoginController.legacyPost()) {
                    <input type="hidden" name="return_url" value='@loginForm("return_url").value'/>

                    @loginForm.globalErrors.map(_.message).map { msg =>
                      <p><span class="error">@msg</span></p>
                    }

                    <fieldset>
                        @helper.inputText(
                            loginForm("email"),
                            Symbol("_label") -> "Email address",
                            Symbol("_error") -> loginForm.error("email")
                        )

                        @helper.inputPassword(
                            loginForm("password"),
                            Symbol("_label") -> "Password",
                            Symbol("_error") -> loginForm.error("password")
                        )

                    </fieldset>

                    <button class="btn btn-large btn-primary" type="submit">Login</button>

                    <div class="forgot_password"><p><a href="@routes.LoginController.forgotPassword">Forgot password</a></p></div>

                  }

                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

  </div>

}
