@(user: db.User,
  organizations: lib.PaginatedCollection[db.Organization],
  requests: Seq[db.MembershipRequest])

@main(models.MainTemplate(user = Some(user), title = "Organizations")) {

  <div class="pull-right">
    <span class="glyphicon glyphicon-plus"></span> <a href="@routes.OrganizationController.create">Add organization</a>
  </div>

  <table class="table table-hover table-condensed">
    <tbody>
      @organizations.items.map { organization =>
       <tr>
         <td><a href="@lib.Path.url(organization)">@organization.name</a></td>
       </tr>
     }
    </tbody>
  </table>

  @if(organizations.hasPrevious || organizations.hasNext) {
    <ul class="pager">
      @if(organizations.hasPrevious) {
        <li><a href="@routes.Application.index(organizations.page - 1)">Previous</a></li>
      }
      @if(organizations.hasNext) {
        <li><a href="@routes.Application.index(organizations.page + 1)">Next</a></li>
      }
    </ul>
  }

  @if(!requests.isEmpty) {
    <h2>Pending membership requests</h2>
    <table class="table table-hover table-condensed">
      <tbody>
        @requests.map { request =>
         <tr>
           <td>On @request.createdAt, you requested to join @request.org.name</td>
         </tr>
       }
      </tbody>
    </table>
  }

}
