@(tpl: models.MainTemplate,
  token: com.gilt.apidoc.v0.models.Token
)(implicit flash: Flash)

@main(tpl) {

  <ul>
    <li> Full token: @token.maskedToken (<a href="@routes.TokensController.cleartext(token.guid)">Show full token</a>) </li>
    <li> Description: @token.description.getOrElse(Html("<em>none</em>")) </li>
    <li> Created: @lib.DateHelper.longDateTime(tpl.timeZone, token.audit.createdAt)</li>
  </ul>

  <ul>
    <li><a href="@routes.TokensController.postDelete(token.guid)" class="delete" data-confirm="Are you sure?">Delete</a></li>
  </ul>

}
