nameOverride: "apibuilder-app"
fullnameOverride: "apibuilder-app"

team: foundation

iamRole: ecsInstanceRole
image:
  repository: flowcommerce/apibuilder-app

resources:
  limits:
    memory: "6Gi"
    cpu: 2
  requests:
    memory: "6Gi"
    cpu: .05

jvmOpts:
  memory: 5120m

istioIngress:
  enabled: true
  gateways:
    - key: app-apibuilder-io
      tld: apibuilder.io
      dns: true
      hosts:
        - app.apibuilder.io
    - key: apibuilder-flow-pub
      tld: flo.pub
      dns: true
      hosts:
        - apibuilder.flo.pub

istioService:
  live:
    hosts:
      - apibuilder-app
      - app.apibuilder.io
      - apibuilder.flo.pub
    gateways:
      - mesh
      - app-apibuilder-io
      - apibuilder-flow-pub
    stages:
      - deployment: live
        weight: 100

deployments:
  live:
    minReplicas: 2
    maxReplicas: 2
    maxUnavailable: 1

rolloutResource:
  enabled: false

canary:
  enabled: false