@(tpl: models.MainTemplate)(implicit flash: Flash)

@import com.gilt.apidoc.v0.models.Visibility

@main(tpl) {

<p>
</p>

@tpl.user.map { user =>
@if(tpl.generators.isEmpty) {
<em>No generator selected</em>

} else {

@tpl.generators.map { generator =>
<table class="table table-hover table-condensed">
    <tbody>
    <tr>
        <th>Key</th>
        <td>@generator.key</td>
    </tr>
    <tr>
        <th>URI</th>
        <td>@generator.uri</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@generator.name</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Html(generator.description.getOrElse(""))</td>
    </tr>
    <tr>
        <th>Language</th>
        <td>@generator.language.getOrElse("")</td>
    </tr>
    <tr>
        <th>Owner</th>
        <td>@generator.owner.name.fold(generator.owner.email)(name => s"${name} (${generator.owner.email})")</td>
    </tr>
    <tr>
        <th>Visibility</th>
        <td>@if(tpl.user.exists(_.guid == generator.owner.guid)){
            <select name="visibility" class="generator-visibility-setter" data-generator-guid="@generator.guid">
                @Visibility.all.map { vis =>
                <option @if(vis == generator.visibility){
                        selected="true"
                        }>@vis.toString</option>
                }
            </select>
            } else {
            @generator.visibility
            }
        </td>
    </tr>
    <tr>
        <th>Enabled</th>
        <td>
            <input type="checkbox" name="enabled" value="true" class="generator-enable-setter" data-generator-guid="@generator.guid"
                   @if(generator.enabled){
                   checked="checked"
                   }/>
        </td>
    </tr>
    </tbody>
</table>
<a href="@routes.Generators.list()" class="btn btn-large btn-primary btn-default">Close</a>
@if(tpl.user.exists(_.guid == generator.owner.guid)){
  <a href="@routes.Generators.postRemove(generator.key)" class="btn btn-large btn-default delete" data-confirm="Are you sure?">Remove</a>
}
}
}
}
}
