@(tpl: models.MainTemplate,
  form: Form[controllers.Generators.GeneratorData],
  errors: Seq[String] = Seq.empty
)(implicit flash: Flash)

@main(tpl) {
  <div class="container">

    @helper.form(action = routes.Generators.postCreate(tpl.org.get.key)) {

      <fieldset>
          @if(!errors.isEmpty) {
            <ul>
              @errors.map { msg => <li><span class="error">@msg</span></li> }
            </ul>
          }

          @helper.inputText(
              form("name"),
              '_label -> "Generator name",
              '_error -> form.error("name")
          )

          @helper.inputText(
          form("uri"),
          '_label -> "Generator uri",
          '_error -> form.error("uri")
          )

      </fieldset>

      <div class="actions">
        <button class="btn btn-large btn-primary" type="submit">Submit</button>
        <a href="@routes.Generators.list(tpl.org.get.key)" class="btn">Cancel</a>
      </div>

    }

  </div>

}
