@(tpl: models.MainTemplate,
  phase: Int,
  form: Form[controllers.Generators.GeneratorCreateData],
  errors: Seq[String] = Seq.empty
)(implicit flash: Flash)

@main(tpl) {
  <div class="container">

    @helper.form(action = routes.Generators.postCreate()) {

      <fieldset>
          @if(!errors.isEmpty) {
            <ul>
              @errors.map { msg => <li><span class="error">@msg</span></li> }
            </ul>
          }

          @if(phase > 1) {
              @helper.inputText(
                  form("uri"),
                  'style -> "display: none",
                  '_label -> null
              )
              <table class="table table-hover table-condensed">
              <tbody>
              <tr>
                  <th>Key</th>
                  <th>Visibility</th>
                  <th>Selected</th>
                  <th/>
              </tr>

            @helper.repeat(form("details"), min = 1) { details =>
              <tr>
              <td>@helper.inputText(
                  details("key"),
                  'style -> "display: none",
                  '_label -> details("key").value
              )</td>
              <td>@helper.select(
                details("visibility"),
                com.gilt.apidoc.v0.models.Visibility.all.map( v => (v.toString -> v.toString) ),
                '_error -> form.error("visibility"),
                '_label -> null
              )</td>
              <td>@if(details("selected").value.fold(false)(_.toBoolean)) {
                      @helper.checkbox(
                        details("selected"),
                        '_error -> form.error("selected"),
                        '_label -> null
                      )
                  } else {
                      @helper.checkbox(
                          details("selected"),
                          '_error -> form.error("selected"),
                          'disabled -> "true",
                          '_label -> null
                      )
                  }
              </td>
              </tr>
            }
            </tbody>
          </table>
          } else {
            @helper.inputText(
              form("uri"),
              '_label -> "Generator uri",
              '_error -> form.error("uri")
            )
          }
      </fieldset>

      <div class="actions">
        <button class="btn btn-large btn-primary" type="submit">Submit</button>
        <a href="@routes.Generators.list()" class="btn btn-large btn-default">Cancel</a>
      </div>

    }

  </div>

}
