@(
  generatorWithServices: lib.PaginatedCollection[io.apibuilder.api.v0.models.GeneratorWithService],
  displayService: Boolean = true
)

@if(generatorWithServices.isEmpty) {
  <em>No generators</em>

} else {

  <table class="table table-hover table-condensed">
    <tbody>
      <tr>
        @if(displayService) {
          <th>Service</th>
	}
        <th>Key</th>
        <th>Name</th>
        <th>Language</th>
        <th>Attributes</th>
        <th>Description</th>
      </tr>

      @generatorWithServices.items.map { gws =>
      <tr>
          @if(displayService) {
            <td><a href="@routes.GeneratorServices.show(gws.service.guid)">@lib.Text.truncate(gws.service.uri)</a></td>
          }
          <td><a href="@routes.Generators.show(gws.generator.key)">@gws.generator.key</a></td>
          <td>@gws.generator.name</td>
          <td>@gws.generator.language.getOrElse("")</td>
          <td>@gws.generator.attributes.map { attr =>
            <a href="@routes.AttributesController.show(attr)">@attr</a>
          }</td>
          <td>@Html(lib.Markdown(gws.generator.description.map(lib.Text.truncate(_))))</td>
        </tr>
      }
    </tbody>
  </table>

}
