@(tpl: models.MainTemplate)(implicit flash: Flash)

@import com.gilt.apidoc.api.v0.models.Visibility

@main(tpl) {

  <p>
    Users can provide generators to add additional code generation targets.
  </p>

  @tpl.user.map { user =>
    <div class="pull-right">
      <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Generators.create()">Add generator</a>
    </div>

    @if(tpl.generators.isEmpty) {
      <em>No generators</em>

    } else {

      <table class="table table-hover table-condensed">
          <tbody>
          <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Language</th>
              <th>Enabled</th>
          </tr>
      @tpl.generators.map { generator =>
        <tr>
            <td class="generator-select" data-generator-guid="@generator.guid">@generator.name</td>
            <td class="generator-select" data-generator-guid="@generator.guid">@Html(generator.description.getOrElse(""))</td>
            <td class="generator-select" data-generator-guid="@generator.guid">@generator.language.getOrElse("")</td>
            <td>
                <input type="checkbox" name="enabled" value="true" class="generator-enable-setter" data-generator-guid="@generator.guid"
                @if(generator.enabled){
                    checked="checked"
                }/>
            </td>
        </tr>
      }
          </tbody>
      </table>
    }
  }

}
