@(
  tpl: models.MainTemplate,
  generators: lib.PaginatedCollection[com.gilt.apidoc.generator.v0.models.Generator]
)(implicit flash: Flash)

@import com.gilt.apidoc.api.v0.models.Visibility

@main(tpl) {

  @tpl.user.map { user =>
    <div class="pull-right">
      <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Generators.create()">Add generator</a>
    </div>
  }

  @if(tpl.generators.isEmpty) {
    <em>No generators</em>

  } else {

    <table class="table table-hover table-condensed">
      <tbody>
        <tr>
          <th>Key</th>
          <th>Name</th>
          <th>Description</th>
          <th>Language</th>
        </tr>

        @generators.items.map { generator =>
          <tr>
            <td>@generator.key</td>
            <td>@generator.name</td>
            <td>@Html(lib.Markdown(generator.description.map(lib.Text.truncate(_, 25))))</td>
            <td>@generator.language.getOrElse("")</td>
          </tr>
        }
      </tbody>
    </table>

  }

}
