@(
  tpl: models.MainTemplate,
  generators: lib.PaginatedCollection[com.gilt.apidoc.generator.v0.models.Generator]
)(implicit flash: Flash)

@import com.gilt.apidoc.api.v0.models.Visibility

@main(tpl) {

  @tpl.user.map { user =>
    <div class="pull-right">
      <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Generators.create()">Add generator</a>
    </div>
  }

  @if(generators.isEmpty) {
    <em>No generators</em>

  } else {

    <table class="table table-hover table-condensed">
      <tbody>
        <tr>
          <th>Key</th>
          <th>Name</th>
          <th>Language</th>
          <th>Description</th>
        </tr>

        @generators.items.map { generator =>
          <tr>
            <td><a href="@routes.Generators.show(generator.key)">@generator.key</a></td>
            <td>@generator.name</td>
            <td>@generator.language.getOrElse("")</td>
            <td>@Html(lib.Markdown(generator.description.map(lib.Text.truncate(_))))</td>
          </tr>
        }
      </tbody>
    </table>

    @if(generators.hasPrevious || generators.hasNext) {
      <ul class="pager">
        @if(generators.hasPrevious) {
          <li><a href="@routes.Generators.index(generators.page - 1)">Previous</a></li>
        }
        @if(generators.hasNext) {
          <li><a href="@routes.Generators.index(generators.page + 1)">Next</a></li>
        }
      </ul>
    }

  }

}
