@(
  tpl: models.MainTemplate,
  gws: com.bryzek.apidoc.api.v0.models.GeneratorWithService
)(implicit flash: Flash, messages: Messages)

@import com.bryzek.apidoc.api.v0.models.Visibility

@main(tpl) {

  <ul>
    <li> Service: <a href="@routes.GeneratorServices.show(gws.service.guid)">@gws.service.uri</a></li>
    <li> Key: @gws.generator.key</li>
    <li> Name: @gws.generator.name</li>
    <li> Language: @gws.generator.language.getOrElse("not specified")</li>
    <li> Description:
         <blockquote>@Html(lib.Markdown(gws.generator.description))</blockquote>
    </li>
  </ul>

}

    
