name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '17' ]
        scala: [ '2.13.11' ]
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        java-version: ${{ matrix.java }}
        distribution: 'zulu'
    - name: Build
      run: |
        docker run -d -p 127.0.0.1:5432:5432 flowcommerce/apibuilder-postgresql:latest
        sbt ++${{ matrix.scala }} clean test
